/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --background-color-1: lightgrey;
    --background-color-2: white;
    --radius: 1rem;
    --clr-primary-1: black;
    --clr-primary-2: green;
    --clr-primary-3: blue;
    --border: 2px solid black;
}

/* global styles */
h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

body {
    background-color: grey;
}

ul {
 list-style-type: none;
}

.title, .main-title {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--clr-primary-2);
}

/* card */
.section {
    display: flex;
    margin: 2rem;
    border: 2px solid black;
    border-radius: var(--radius);
    overflow: hidden;
    height: 50vh;
    position: relative;    
}

/* left column */
.left-column {
    flex: 1 1 15%;
    background-color: var(--background-color-1);
    border-right: 2px solid black;
}

/* elements in left column */
.nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 1rem 0 0rem 0;
    padding-bottom: 0.75rem;
}

.nav-list {
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--clr-primary-3);
    cursor: pointer;
}

.nav-item:hover {
    background: white;
    color: var(--clr-primary-1);
}

.credentials {
    background: var(--background-color-2);
    padding: 0.7rem 0;
}

.button {
    font-size: 1.5rem;
    border-radius: 0.2rem;
    margin: 1rem;
    padding: 0.5rem;
    background: darkgrey;
}

.popular-course-title {
    font-size: 1.2rem;
    display: block;
    color: brown;
}

.course-list {
    height: 13rem;
    overflow-y: scroll;
    font-size: 1rem;
    background-color: var(--background-color-2);
    margin-bottom: 1rem;
}

.course-name {
    margin: 0.2rem 0;
    cursor: pointer;
}

.course-name:hover {
    background: var(--background-color-1);
}

.credentials {
    text-align: center;
}

/* right column */
.right-column {
    flex: 1 1 85%;
    background: var(--background-color-2);
    padding: 2rem;
    position: relative;
}

/* elements in right column */
.header {
    display: none;
}

.profile-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: url(./images/download.jpeg) center/cover no-repeat;
}

.middle-cards,
.last-cards {
    display: flex;
    margin-bottom: 1rem;
}

.card {
    min-height: 11rem;
}

.card-1 {
    flex: 1 1 80%;
    border: var(--border);
    border-radius: var(--radius);
    margin: 1rem;
    background: red;
}

.card-2 {
    flex: 1 1 20%;
    border: var(--border);
    border-radius: var(--radius);
    margin: 1rem;
    background: green;
}

.card-3 {
    flex: 1 1 30%;
    border: var(--border);
    border-radius: var(--radius);
    margin: 1rem;
    background: blue;
}

.card-4 {
    flex: 1 1 30%;
    border: var(--border);
    border-radius: var(--radius);
    margin: 1rem;
    background: orangered;
}

.card-5 {
    flex: 1 1 30%;
    border: var(--border);
    border-radius: var(--radius);
    margin: 1rem;
    background: violet;
}


/* media queries */
@media screen and (max-width: 1170px) {
    .right-column {
        width: 100%;
        overflow-y: scroll;
    }

    .header {
        display: flex;
        position: relative;
    }

    .menu-bar {
        display: inline-block;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .main-title {
        display: inline-block;
        font-size: 2rem;
        margin: 0 auto;
    }
    
    .left-column,
    .title {
        display: none;
    }

    .nav-list {
        padding: 0.1rem;
    }

    .nav-item {
        font-size: 1.5rem;
    }

    .course-list {
        height: 15rem;
    }

    .button {
        font-size: 1rem;
        margin: 1rem;
        padding: 0.5rem;
    }

    .home,
    .about {
        display: none;
    }

    .middle-cards,
    .last-cards {
        display: block;
    }

    .card {
        width: 100%;

    }


    .menu-bar:hover, 
    .left-column {
        display: block;
        text-align: center;
        width: 15rem;
        height: 43vh;
        z-index: 1;
        border: var(--border);
        border-radius: var(--radius);
        overflow: hidden;
        position: absolute;
        top: 13%;
        left: 5%;        
    }
}